{{define "struct" -}}
{{range . -}}
{{if .Doc}}{{comment .Doc}}
{{end}}{{if .IsOpaque}}type {{.GoName}} struct{}
{{else}}type {{.GoName}} struct {
{{range .Fields}}{{.GoName}} {{.GoType}}
{{end}}}
{{end}}
{{end -}}
{{end}}
