{{/*
    boolnserror_method.tmpl renders an Objective-C method that returns a success
    flag plus an error out-parameter as a Go method that returns only error
    (nil on success). RecvExpr is the object the call is sent to.
*/}}
{{define "boolnserror_method"}}{{if .DocComment}}{{.DocComment}}//
{{end}}// {{.GoName}} returns an error if the operation did not succeed.
func {{.Recv}}{{.GoName}}() error {
var _nsErr uintptr
objc.Send[bool]({{.RecvExpr}}, objc.RegisterName({{.Selector | printf "%q"}}), unsafe.Pointer(&_nsErr))
if _nsErr != 0 {
return errkit.FromObjC(purego.NSErrorToError(objc.ID(_nsErr)))
}
return nil
}

{{end}}
